<mat-card *ngIf="!pwReset ;else ResetPW">
    <mat-card-header>
        <mat-card-title>Email Verification</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="!(successMessage || errorMessage)">

      </mat-spinner>
        {{successMessage}}
        <mat-error>{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/authenticate/login']" routerLinkActive="router-link-active" >Ok</button>
        
    </mat-card-actions>
</mat-card>


<ng-template #ResetPW>
    <app-forgot-password></app-forgot-password>
</ng-template>


