mat-card
    margin-left: 25%
    margin-right: 25%
    display: flex
    flex-direction: column

.card 
    ox-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
h4 
    margin-left: 45%
 
button 
    background-color: rgb(154, 152, 248)
    align-self: center
    font-weight: bold
img 
    margin-left: 45%
    margin-top: 10%