
<mat-card class="card" ngStyle.xs='margin-right: auto; margin-left: auto;'>
    <form 
    name="loginForm"
    #loginForm="ngForm"
    (ngSubmit)="loginForm.form.valid  && onLogin()" >
  
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
  
    <mat-card-content fxLayout="column">
      <mat-form-field [formGroup]="EmailFormGroup"
        [hideRequiredMarker]="EmailFormGroup.value.hideRequired"
        [floatLabel]="EmailFormGroup.value.floatLabel">
  
        <input 
        name="email"
        matInput placeholder="email@email.com" 
        formControlName="EmailCtrl">
        <mat-error >
          Email is invalid
      </mat-error>
      </mat-form-field>
  
      <!-- password -->
      <mat-form-field [formGroup]="PasswordFormGroup" 
      [hideRequiredMarker]="EmailFormGroup.value.hideRequired"
      [floatLabel]="EmailFormGroup.value.floatLabel">
        <input
        name="password"
        matInput placeholder="Password" 
        type="password"
        [type]="hide ? 'password' : 'text'" 
        required 
        formControlName="PasswordCtrl"
        >
      </mat-form-field>
  
    </mat-card-content>
      <mat-card-actions>
  
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <div>
              <button type="submit" style="width:auto;" mat-raised-button  color="primary">Login</button> 
              <mat-error ngif="errormessage">{{errormessage}}</mat-error>
          </div>

          <div>
            <div fxLayout="column">
                <a *ngIf="!forgotSend" (click)="forgotPassword()">Forgot password?</a>
                <mat-hint *ngIf="forgotSend">Check {{SendedEmail}} for the link</mat-hint>
            </div>

          </div>
        </div>

        <app-verify-email *ngIf="verify"></app-verify-email>


      </mat-card-actions>
  </form>
  </mat-card>
  
  