
<mat-card class="card" ngStyle.xs='margin-right: auto; margin-left: auto;'>
  <form 
  name="OpretForm"
  #OpretForm="ngForm"
  (ngSubmit)="OpretForm.form.valid  && onCreate()" >

  <mat-card-header>
    <mat-card-title>Create User</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column">
    <mat-form-field [formGroup]="EmailFormGroup"
      [hideRequiredMarker]="EmailFormGroup.value.hideRequired"
      [floatLabel]="EmailFormGroup.value.floatLabel">
      <input 
      name="email"
      matInput placeholder="email@email.com" 
      formControlName="EmailCtrl">
      <mat-error >
        Email is invalid
    </mat-error>
    </mat-form-field>

    <!-- password -->
    <mat-form-field [formGroup]="PasswordFormGroup" 
    [hideRequiredMarker]="PasswordFormGroup.value.hideRequired"
    [floatLabel]="PasswordFormGroup.value.floatLabel">
      <input
      name="password"
      matInput placeholder="Password" 
      [type]="hide ? 'password' : 'text'" 
      required 
      formControlName="PasswordCtrl"
      >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>Password must containt atleast 8 characters, lowercase letters, uppercase letters, numbers and special characters</mat-error>
    </mat-form-field>

    <!-- password again  -->
    <mat-form-field [formGroup]="PasswordAgainFormGroup"
    [hideRequiredMarker]="PasswordFormGroup.value.hideRequired"
    [floatLabel]="PasswordFormGroup.value.floatLabel">
      <input
      name="passwordAgain"
      matInput placeholder="Password Again" 
      [type]="hide ? 'password' : 'text'" 
      required 
      formControlName="PasswordAgainCtrl">
    </mat-form-field>
  </mat-card-content>
    <mat-card-actions>

      <button type="submit" [disabled]="!EmailFormGroup.valid || !PasswordAgainFormGroup.valid || !PasswordFormGroup.valid || !match()" style="width:auto;" mat-raised-button  color="primary">Create</button> 
      <mat-error *ngIf="!match() && PasswordAgainFormGroup.dirty" >Passwords must match</mat-error>
      <div *ngIf="created">
        <app-verify-email></app-verify-email>
      </div>

    </mat-card-actions>
</form>
</mat-card>

