

<div *ngIf="!sended; else alreadySend">
    <div *ngIf="!(user$ | async)?.emailVerified">

      <div *ngIf="!errorMessage">
          Seems you have not yet verified you email, please do so to continue.
          <a (click)="sendVerification()">Send link again</a>
      </div>

    <div *ngIf="errorMessage">
        {{errorMessage}}
    </div>

  </div>
</div>


<ng-template #alreadySend>
  Check your inbox for the verification mail
</ng-template>

