



<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar [routerLink]="['']" routerLinkActive="router-link-active">
      Project x
    </mat-toolbar>
    <mat-nav-list *ngIf="(user$ | async); else Login">
        <a mat-list-item [routerLink]="['/home']" >Home</a>
      <a mat-list-item (click)="logout()">Logout</a>

    </mat-nav-list>

    <ng-template #Login>
      <mat-nav-list>
        <a mat-list-item  [routerLink]="['/authenticate/login']" >Login</a>
        <a mat-list-item [routerLink]="['/authenticate/opret']"  >sign up</a>
      </mat-nav-list>
    </ng-template>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Project X</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
